@model GeeYeangSore.Models.HProperty

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HProperty</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HPropertyTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HPropertyTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HDistrict)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HDistrict)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HZipcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HZipcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HRentPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HRentPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HPropertyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HPropertyType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HRoomCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HRoomCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HBathroomCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HBathroomCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HFloor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HFloor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HTotalFloors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HTotalFloors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HAvailabilityStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HAvailabilityStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HBuildingType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HBuildingType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HPublishedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HPublishedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HLastUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HLastUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HIsVip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HIsVip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HIsShared)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HIsShared)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HLandlord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HLandlord.HLandlordId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.HPropertyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
